*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 120px;
}

body{
    font-family: 'Fredoka', sans-serif;  
}

.title{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: #E53170;
    padding: 30px;
}

.main-paragraph{
    text-align: center;
    padding: 20px 0 40px;
}

.container{
    max-width: 1240px;
    margin: 0 auto;
}

.cell{
    color: white;
    float: left;
    background-color: #0F0E17;
    width: calc((100% - 40px) / 3);
    margin-right: 20px;
    margin-bottom: 30px;
}

.cell:nth-child(3n+3){
    margin-right: 0;
}

.cell:nth-child(n + 4){
    margin-bottom: 0px;
}

/* .debug > .cell{
    background-color: blue;
    /* height: 10px;} */


.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.team-details > div{
    line-height: 20px;
    height: 20px;
    padding: 13px 0;
}

.profile{
    float: left;
    padding-right: 20px;
}

.name{
    font-weight: bold;
    font-size: 20px;
}

.email{
    color: #378FD0;
}