*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 135px;
}

body{
    font-family: 'Fredoka', sans-serif;  
}

.title{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: #E53170;
    padding: 30px;
}

.main-paragraph{
    text-align: center;
    padding: 20px 0 40px;
}

.container{
    max-width: 1240px;
    margin: 0 auto;
}

.cell{
    color: white;
    float: left;
    background-color: #0F0E17;
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 40px;
    box-shadow: 0px 0px 20px 10px black;
}

.cell:nth-child(3n){
    margin-right: 0;
}

.cell:nth-child(n + 4){
    margin-bottom: 0px;
}

/* .debug > .cell{
    background-color: blue;
    /* height: 10px;} */


.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.team-details{
    float: right;
    padding-right: 60px;
}

.team-details > *{
    line-height: 20px;
    padding: 13px 0;
}

.team-details > *:last-child{
   padding-bottom: 0px;
}

.profile{
    float: left;
}

.name{
    font-weight: bold;
    font-size: 20px;
}

.email{
    display: inline-block;
    padding-top: 15px;
    color: #378FD0;
}

.role{
    font-weight: normal;    
}

footer{
    height: 200px;
    font-size: larger;
    background-color: #222222;
    color: #A2988E;
    text-align: center;
    padding: 30px 0;
    margin-top: 30px;
}